<h2>Show Counter</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @counter.name %>
  </li>

  <li>
    <strong>Value:</strong>
    <%= @counter.value %>
  </li>

</ul>

<span><%= link "Edit", to: counter_path(@conn, :edit, @counter) %></span>
<span><%= link "Back", to: counter_path(@conn, :index) %></span>
