@import 'normalize.scss/normalize';
@import '_variables';
@import '_mixins';
@import '_typography';

@import 'sections/_home';
@import 'sections/_counter';

a {
  color: $yellow;
}

.header {
  text-align: center;
  background: $graphite;
  padding: 0.4rem;

  &__title {
    font-size: 1.2rem;
    margin: 0;
  }

  &__title_link {
    color: $yellow;
    text-decoration: none;
  }
}
