@import 'normalize.scss/normalize';
@import '_variables';
@import '_typography';
@import 'mixins';

a {
  color: $yellow;
}

.header {
  text-align: center;
  background: $graphite;
  padding: 0.4rem;

  &__title {
    font-size: 1.2rem;
    margin: 0;
  }

  &__title_link {
    color: $yellow;
    text-decoration: none;
  }
}

.counter {
  text-align: center;

  &__button {
    &--primary {
      @include round-button(120px);

      font-size: 4.5rem;
      color: $dark-white;
      background-color: $yolk;

      &:hover, &:focus { background-color: lighten($yolk, 5%); }
      &:active { background-color: lighten($yolk, 10%); }
    }

    &--secondary {
      @include round-button(40px);

      font-size: 0.8rem;
      color: $yellow;
      border: 2px $yellow solid;
      box-shadow: none;

      &:hover, &:focus {
        box-shadow: 1 2px 3px rgba(0,0,0,.4);
      }
      // &:active { background-color: lighten($yellow, 10%); }
    }
  }

  &__value {
    display: inline-block;
    font-size: 3rem;
    font-family: monospace;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 3rem;

    color: $grey;
    background-color: $dark-white;
  }

  &__actions {
    margin-top: 3rem;
  }

}
