.counter {
  text-align: center;

  &__button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
  }

  &__button_icon {
    width: 10rem;
    height: 10rem;
    fill: $yellow;
    transition: fill 0.2s ease;

    &:active {
      fill: $yolk;
    }
  }

  &__value {
    display: inline-block;
    font-size: 3rem;
    font-family: monospace;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 3rem;

    color: $grey;
    background-color: $dark-white;
  }

  &__actions {
    margin-top: 3rem;
  }

}
