.home {
  text-align: center;

  &__box {
    background: $graphite;
    width: 20rem;
    max-width: 80%;
    margin: 3rem auto 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }

  &__title {
    font-size: 2.5rem;
  }
  &__break {
    margin: 0.5rem;
  }

  &__cta {
    font-size: 1.5rem;
    max-width: 80%;
    color: $dark-white;
    background-color: $yolk;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.7rem;
  }
}

