.home {
  text-align: center;

  &__box {
    background: $graphite;
    width: 20rem;
    max-width: 80%;
    margin: 3rem auto 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }

  &__title {
    font-size: 2.5rem;
    margin: 0.6rem 0 1rem;
  }

  &__break {
    margin: 0.5rem;
  }

  &__cta {
    @extend .btn, .btn--primary;

    font-size: 1.5rem;
    max-width: 80%;
    padding: 0.5rem 1rem 0.7rem;
  }
}

