<section class="home">
  <div class="home__box">
    <h2 class="home__title">Ninja Clicker</h2>
    <p class="home__lead">Possibly the best clicker app ever</p>

    <hr class="home__break">

    <p>
      <%= form_for @conn, counter_path(@conn, :create), [as: :counter], fn _ -> %>
          <%= submit "Start clicking now!", class: "home__cta" %>
      <% end %>
    </p>
  </div>
</section>
