<div class="jumbotron">
  <h2><%= gettext "Ninja Clicker" %></h2>
  <p class="lead">Possibly the best clicker app ever</p>

  <hr>

  <p>
    <%= form_for @conn, counter_path(@conn, :create), [as: :counter], fn f -> %>
    <div class="form-group">
      <%= submit "Start clicking now!", class: "btn btn-primary" %>
    </div>
  <% end %>

  </p>
</div>
